@{
    ViewData["Title"] = "Profile";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <img src="~/images/12032475_1023018347720376_538906051_n.jpg" width="200" height="200"/><br />
    นายณัฐดนัย ต่อกัน<br />
    ชื่อเล่น ไนท์<br />
    <abbr title="Phone">P:0933068175</abbr>
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
